*{
  user-select: none;
  overscroll-behavior-x: none;

}

html, body {
  background-color: rgb(252, 232, 232);
  overflow-x: hidden;

}

.App {
  background-color: rgb(252, 232, 232);
  width: 100%;
  height: 100%;
}

.Choices {
  display: flex;
  justify-content: center;
}

.App-logo {
  position: relative;
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(252, 232, 232);
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
